<a href="https://colab.research.google.com/github/ashraful-iut/NLP_Basic-/blob/main/Text_Classification_with_N_grams.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Text Classification with N-grams

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression

In [ ]:
texts = [
    "basketball is a team sport where teams shoot a basketball",
    "football is a sport where teams score goals"
]
labels = [1, 0] # 1 means basketball, 0 means football

# fit vectorizer on texts
vectorizer = CountVectorizer(ngram_range=(1, 1))
vectorizer.fit(texts) # build ngram dictionary

# vectorize texts into bag of words
ngrams = vectorizer.transform(texts)
ngrams.todense()

matrix([[2, 0, 0, 1, 0, 1, 1, 1, 1, 1],
        [0, 1, 1, 1, 1, 0, 1, 0, 1, 1]])

In [ ]:
texts = [
    "basketball is a team sport where teams shoot a basketball",
    "football is a sport where teams score goals"
]
targets = [1, 0] # 1 means basketball, 0 means football

# fit vectorizer on texts
vectorizer = CountVectorizer(ngram_range=(2, 2))
vectorizer.fit(texts)

ngrams = vectorizer.transform(texts)
print(ngrams)
vectorizer.vocabulary_

  (0, 0)	1
  (0, 3)	1
  (0, 5)	1
  (0, 6)	1
  (0, 7)	1
  (0, 9)	1
  (0, 10)	1
  (1, 1)	1
  (1, 2)	1
  (1, 4)	1
  (1, 6)	1
  (1, 8)	1
  (1, 10)	1

{'basketball is': 0,
 'is team': 3,
 'team sport': 7,
 'sport where': 6,
 'where teams': 10,
 'teams shoot': 9,
 'shoot basketball': 5,
 'football is': 1,
 'is sport': 2,
 'teams score': 8,
 'score goals': 4}

In [ ]:
texts = [
    "basketball is a team sport where teams shoot a basketball",
    "football is a sport where teams score goals"
]
labels = [1, 0] # 1 means basketball, 0 means football

# fit vectorizer on texts
vectorizer = CountVectorizer(ngram_range=(1, 1))
vectorizer.fit(texts)

ngrams = vectorizer.transform(texts)
print(ngrams)
vectorizer.vocabulary_
vectorizer.vocabulary_.items()

  (0, 0)	2
  (0, 3)	1
  (0, 5)	1
  (0, 6)	1
  (0, 7)	1
  (0, 8)	1
  (0, 9)	1
  (1, 1)	1
  (1, 2)	1
  (1, 3)	1
  (1, 4)	1
  (1, 6)	1
  (1, 8)	1
  (1, 9)	1

dict_items([('basketball', 0), ('is', 3), ('team', 7), ('sport', 6), ('where', 9), ('teams', 8), ('shoot', 5), ('football', 1), ('score', 4), ('goals', 2)])

##N gram Vectorizer and Panda dataFrame

In [ ]:
# create a pandas dataframe that shows the unigrams in each text
keys_values_sorted = sorted(list(vectorizer.vocabulary_.items()), key=lambda t: t[1])
keys_sorted = list(zip(*keys_values_sorted))[0]
ngrams_matrix = ngrams.todense()
df = pd.DataFrame(ngrams_matrix, columns=keys_sorted)
df

   basketball  football  goals  is  score  shoot  sport  team  teams  where
0           2         0      0   1      0      1      1     1      1      1
1           0         1      1   1      1      0      1     0      1      1

In [ ]:
print(ngrams)

  (0, 0)	2
  (0, 3)	1
  (0, 5)	1
  (0, 6)	1
  (0, 7)	1
  (0, 8)	1
  (0, 9)	1
  (1, 1)	1
  (1, 2)	1
  (1, 3)	1
  (1, 4)	1
  (1, 6)	1
  (1, 8)	1
  (1, 9)	1

##Model Fit

In [ ]:
# train logistic regression on unigrams
model = LogisticRegression()
model.fit(ngrams, targets)

print(model.coef_[0])
# show logistic regression weights
from_unigram_to_weight = dict(zip(keys_sorted, model.coef_[0]))
from_unigram_to_weight

[ 4.94647003e-01 -2.47318442e-01 -2.47318442e-01  5.05975534e-06
 -2.47318442e-01  2.47323501e-01  5.05975534e-06  2.47323501e-01
  5.05975534e-06  5.05975534e-06]

{'basketball': 0.49464700259889355,
 'football': -0.2473184415441025,
 'goals': -0.2473184415441025,
 'is': 5.059755344360037e-06,
 'score': -0.2473184415441025,
 'shoot': 0.24732350129944677,
 'sport': 5.059755344360037e-06,
 'team': 0.24732350129944677,
 'teams': 5.059755344360037e-06,
 'where': 5.059755344360037e-06}